.paging-box-out {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.paging-box {
  display: flex;
}

.paging-box li {
  width: 27px;
  height: 27px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.active {
  background-color: #6c5ce7;
  color: #fff;
  border-radius: 7px;
}
