.search-gathering-container {
    margin: 10px 0;
    position: relative;
}

.search-gathering-container select {
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
.search-gathering-container .icon-arrow {
    position: absolute;
    top: 0;
    left: 65px;
    display: block;
    padding: 0;
}
.search-gathering-container .search-input-wrap {
    position: relative;
    display: inline-block;
}

.search-gathering-container input {
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #666;
}

.search-gathering-container .search-gathering-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
}