*{
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

#root{
    margin-left: 270px;
    padding: 0 20px;
}

.loginroot{
    margin-right: 270px;
}

table{
    margin-top: 50px;
    text-align: center;
    border-collapse:collapse;
}
th{
    background-color: #eee;
    padding: 10px 5px;
}
td{
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
}