/* 메인 컬러 #6c5ce7
보조 컬러 #fdcb6e */

* {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  width: calc(100% - 70px);
  margin: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.login-btn {
  font-weight: bold !important;
  background-color: #6c5ce7 !important;
}

.Mui-focused {
  color: #6c5ce7 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #6c5ce7 !important;
}
